
.pics {
    display: grid;
    grid-template-columns:   repeat( 3, 3fr);
    gap: 20px;
    padding: 20px;
}

.pics img {
    width: 250px ;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
*{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* background: linear-gradient(to bottom, rgb(161, 216, 227), brown); */
font-size: large;
font-weight: bold;
text-align: center;
color: rgb(57, 7, 4);
}
.header {
    font-weight: bolder;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    text-decoration: underline;

}
.hair {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background: linear-gradient( to top, rgb(213, 169, 213), rgb(209, 162, 162));
    font-weight: lighter;
}
.tats {
    font-weight: lighter;
    background: linear-gradient(to bottom,  rgb(179, 141, 141), rgb(212, 120, 212));
}
.pets {
    font-weight: lighter;
    background: linear-gradient(to top, rgb(195, 121, 121), rgb(125, 81, 125));
}
.start {
    font-weight: lighter;
    text-align: left;
}
.hero {
    background-image: url("pics/hero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: rgb(247, 243, 243);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
