
.pics {
    display: grid;
    grid-template-columns:   repeat( 3, 3fr);
    gap: 20px;
    padding: 20px;
}

.pics img {
    width: 250px ;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
*{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background: linear-gradient(to bottom, rgb(161, 216, 227), brown);
font-size: large;
font-weight: bold;
text-align: center;
}
.head {
    font-weight: bolder;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("pics/hero.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background-color: #ff9800;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #e68900;
}